!!!5
html
	head
		meta(charset='UTF-8')
		title evora
		link(rel="stylesheet", type="text/css", href="main.css")
		link(rel="stylesheet", type="text/css", href="css-assets/kit.css")
	body
		include assets/icons.svg
		.main-kl
			.section-kl
				.header-ke Colors
				.cf 
					.color-sample-ke.c-grey1-bg-gm
					.color-sample-ke.c-grey2-bg-gm
					.color-sample-ke.c-grey3-bg-gm
					.color-sample-ke.c-grey4-bg-gm
					.color-sample-ke.c-grey5-bg-gm
					.color-sample-ke.c-grey6-bg-gm
					.color-sample-ke.c-grey7-bg-gm

				.cf
					.color-sample-ke.c-blue-bg-gm
					.color-sample-ke.c-green-bg-gm

				.cf
					.color-sample-ke.c-red-bg-gm
					.color-sample-ke.c-orange-bg-gm
					

			.section-kl
				.header-ke Icons
				.cf 
					.icon-sample-kl
						.hash-e 16139bdc1fb5bf21a3cb1769f714013a
						- path = 'email-icon', idAttribute = '', title = '', iconClass = ''
						include partials/icon

					.icon-sample-kl
						.hash-e b43dcfe21eb9fd04a814670604607c08
						- path = 'phone-icon', idAttribute = '', title = '', iconClass = ''
						include partials/icon

					.icon-sample-kl
						.hash-e 6efb48ab72c62fab8979a31152824848
						- path = 'presentation-icon', idAttribute = '', title = '', iconClass = ''
						include partials/icon

					.icon-sample-kl
						.hash-e 9c239d042abe8fc15158bbe9d08b60f9
						- path = 'messages-icon', idAttribute = '', title = '', iconClass = ''
						include partials/icon

					.icon-sample-kl
						.hash-e 885e9eaa7a2d671a3f4fdb95b1834dc6
						- path = 'mac-icon', idAttribute = '', title = '', iconClass = ''
						include partials/icon

					.icon-sample-kl
						.hash-e 2228e186fc4d7d635193b88245f45323
						- path = 'instagram-icon', idAttribute = '', title = '', iconClass = ''
						include partials/icon

					.icon-sample-kl
						.hash-e cd0b30acb31e7b3ca2f84a848589f7f9
						- path = 'facebook-icon', idAttribute = '', title = '', iconClass = ''
						include partials/icon

					.icon-sample-kl
						.hash-e f0cefa31fb39d5d51c3cfdf16087add4
						- path = 'twitter-icon', idAttribute = '', title = '', iconClass = ''
						include partials/icon

			.section-kl
				.header-ke Elements
				.hash-e 1a337b2e4ebd79561043aea21a5eab16
				a(href="#") Link

				.hash-e c05e8c5950fc70a0e85f9e6eb1f5d7ed
				.small-text-e	Copyright © 2013 Evora Business Solutions Limited,  Trinidad and Tobago.

				.hash-e af7083e81ad163fc768bbf70c7ed89eb
				.text-e It doesn’t matter whether your company is a one-person startup, or one that’s been around for generations, our company is designedto make your life easier—which is why we care so much to get it done right.

				.hash-e 30ed6c7f85d91fa9682ab7ccdd9ba645
				.text-e.is-left It doesn’t matter whether your company is a one-person startup, or one that’s been around for generations, our company is designedto make your life easier—which is why we care so much to get it done right.

				.hash-e cf55a2bffe4d9e493e0b5e911fec8ead
				.c-grey1-bg-gm.p-x2-gm
					- className = '', text = 'hello@evorabusiness.com', link = 'mailto:hello@evorabusiness.com'
					- iconPath = 'email-icon', iconClass = 'is-orange'
					include partials/icon-with-text
				
				.hash-e 88062218114eb6eb412f4d8502b5745e
				.c-grey1-bg-gm.p-x2-gm
					- className = 'is-phone is-grey', text = '+1 868 222 3275', link = 'tel:+1 868 222 3275'
					- iconPath = 'phone-icon', iconClass = 'is-orange'
					include partials/icon-with-text

				.hash-e 1bfdc984293912064de0a55a2983346b
				.c-grey1-bg-gm.p-x2-gm
					.footer-contacts-l.cf
						- className = '', text = 'hello@evorabusiness.com', link = 'mailto:hello@evorabusiness.com'
						- iconPath = 'email-icon', iconClass = 'is-orange'
						include partials/icon-with-text

						- className = 'is-phone is-grey', text = '+1 868 222 3275', link = 'tel:+1 868 222 3275'
						- iconPath = 'phone-icon', iconClass = 'is-orange'
						include partials/icon-with-text

				.hash-e b0427c0a8e7d165eecc3779bc5ab500d
				.c-grey1-bg-gm.p-x2-gm
					.social-icons-b.cf
						- path = 'twitter-icon', idAttribute = '', title = '', iconClass = 'is-grey2 is-white--onhover'
						include partials/icon
						- path = 'facebook-icon', idAttribute = '', title = '', iconClass = 'fb-bh is-grey2 is-white--onhover'
						include partials/icon
						- path = 'instagram-icon', idAttribute = '', title = '', iconClass = 'instagram-bh is-grey2 is-white--onhover'
						include partials/icon


				.hash-e e8dcf44767bba63ed03de6691a1a44f7
				- className = '', text = 'Learn more'
				include partials/btn

				.hash-e 23127e561ad37a9bbf9a5cd8c40a249d
				- className = 'is-red', text = 'Learn more'
				include partials/btn

				.hash-e 6dbc277a05dab2bf5c045642e9bef7c4
				- className = 'is-blue', text = 'Learn more'
				include partials/btn

				.hash-e c94c6c09e07fccd716b5187285dc3ee8
				- className = 'is-large', text = 'Let\'s talk!'
				include partials/btn

				.hash-e 48dbc4ce41f20b4ac9c8c7c610ba6dc1
				.c-grey1-bg-gm.p-x2-gm
					.main-logo-e

				.hash-e 7ea93d88e0a98ca0b33673c3c562132f
				.xero-logo-e

				.hash-e 92a77a371b54e12d27c8b7f8721e68e2
				.unleashed-logo-e

				.hash-e 8a6b721df8c60443353d31664d67935e
				include partials/partners

				.hash-e eaea934657e00eabd6987472cc531cc4
				.header-section-b
					.illustration-be


			.section-kl
				.header-ke Blocks
				.hash-e 9849287c7439916756b9941f934261ca
				.c-grey1-bg-gm.p-x2-gm
					.header-menu-b.cf
						a.menu-item-be.is-active Home
						a.menu-item-be Services
						a.menu-item-be About us
						a.menu-item-be Contact us

				.hash-e 1dc91129527aa66efd4713c1d468d5c5
				.c-grey1-bg-gm.p-x2-gm
					.header-b.cf
						.main-logo-e
						.header-menu-b.cf
							a.menu-item-be.is-active Home
							a.menu-item-be Services
							a.menu-item-be About us
							a.menu-item-be Contact us

				.hash-e e4f7129086a0c3e5666c9646ffb8e883
				.header-l.is-fixed(style="position:relative")
					.header-b.cf
						.main-logo-e
						.header-menu-b.cf
							a.menu-item-be.is-active Home
							a.menu-item-be Services
							a.menu-item-be About us
							a.menu-item-be Contact us


				.hash-e 9849287c7439916756b9941f934261ca
				- className = ''
				- headerText = 'Professional Services'
				- bodyText = 'Services designed to complement your business perfectly.'
				- iconPath = 'presentation-icon', iconClass = 'is-green'
				- btnClass = className, btnText = 'Learn more'
				include partials/service

				.hash-e 3c2a2dac3b683df6f69990e68c1a176a
				- className = 'is-blue'
				- headerText = 'Management Consulting'
				- bodyText = 'We combine our knowledge with your passion to deliver incredible results.'
				- iconPath = 'messages-icon', iconClass = 'is-blue'
				- btnClass = className, btnText = 'Learn more'
				include partials/service

				.hash-e 00565dba44670cc78cb77f00543d1128
				- className = 'is-red'
				- headerText = 'Digital Solutions'
				- bodyText = 'It’s impossible to explain the magic of a great website.'
				- iconPath = 'mac-icon', iconClass = 'is-red'
				- btnClass = className, btnText = 'Learn more'
				include partials/service

				.hash-e 00565dba44670cc78cb77f00543d1128
				.services-l.cf
					- className = ''
					- headerText = 'Professional Services'
					- bodyText = 'Services designed to complement your business perfectly.'
					- iconPath = 'presentation-icon', iconClass = 'is-green'
					- btnClass = className, btnText = 'Learn more'
					include partials/service

					- className = 'is-blue'
					- headerText = 'Management Consulting'
					- bodyText = 'We combine our knowledge with your passion to deliver incredible results.'
					- iconPath = 'messages-icon', iconClass = 'is-blue'
					- btnClass = className, btnText = 'Learn more'
					include partials/service

					- className = 'is-red'
					- headerText = 'Digital Solutions'
					- bodyText = 'It’s impossible to explain the magic of a great website.'
					- iconPath = 'mac-icon', iconClass = 'is-red'
					- btnClass = className, btnText = 'Learn more'
					include partials/service


				.hash-e d92c18c2d4c55d4e89b0ea3a05cc57a1
				- num = '1'
				- headerText = 'Great service is everything'
				- bodyText = 'At Evora, we obsess over fast and friendly customer service. We work hard to make sure we live up to that promise every day.'
				include partials/about

				.hash-e 43fe7726c30e852211e95dcd5ec92ff9
				.about-us-l.cf
					- num = '1'
					- headerText = 'Great service is everything'
					- bodyText = 'At Evora, we obsess over fast and friendly customer service. We work hard to make sure we live up to that promise every day.'
					include partials/about

					- num = '1'
					- headerText = 'Great service is everything'
					- bodyText = 'At Evora, we obsess over fast and friendly customer service. We work hard to make sure we live up to that promise every day.'
					include partials/about

					- num = '1'
					- headerText = 'Great service is everything'
					- bodyText = 'At Evora, we obsess over fast and friendly customer service. We work hard to make sure we live up to that promise every day.'
					include partials/about

					- num = '1'
					- headerText = 'Great service is everything'
					- bodyText = 'At Evora, we obsess over fast and friendly customer service. We work hard to make sure we live up to that promise every day.'
					include partials/about

				.hash-e 008708f8432e188f18e65004a02d16b4
				.popup-b
					- path = 'close-icon', idAttribute = '', title = 'close', iconClass = 'is-grey5 is-hoverable'
					include partials/icon
					.header-be 		Evora Professional Services
					.sub-header-be Services designed to complement your business perfectly.
					.content-bl.cf
							.text-e.is-left Evora Professional Services handles all of your business and accounting services. We’ve made ourselves experts in what is usually the most mundane, but critical parts of your business. We’ve designed our processes to save you what is most important: your money and your time.
							.text-e.is-left We’ve automated many “back office” tasks ranging from data entry and payroll inquiries to IT strategy. They’re designed to be convenient, trouble-free ways to transform your company’s processes without adding infrastructure, headcount, or cost.
							.text-e.is-left Our team assesses your situation, implements custom solutions, and integrates the technology and processes that best meet your needs. Whether you’ve been in business for years, or you’re just getting started, we work together with your staff to give you peace of mind that your company’s day-to-day processes are running smoothly.
							.text-e.is-left Our partners:
							include partials/partners
							.text-e.is-left We'd love to work with you.
					- className = 'is-large', text = 'Let\'s talk!'
					include partials/btn

				.hash-e c1cdef9219b8eecbff3ba94082863767
				.popup-b.is-center
					- path = 'close-icon', idAttribute = '', title = 'close', iconClass = 'is-grey5 is-hoverable'
					include partials/icon
					.header-be 		Management Consulting
					.sub-header-be We combine our knowledge with your passion to deliver incredible results.
					.content-bl.cf
							.text-e.is-left At Evora, we understand that every single customer of ours is unique. So when things don’t work exactly as they should, we pride ourselves on being the company you turn to when you need advice from outside.
							.text-e.is-left We insist on a comprehensive study of your company to get a proper grasp of what works and what doesn’t, before we propose any changes. Often the answer is straightforward, but we’re also prepared to roll up our sleeves and get dirty in order to find the root of a problem.
							.text-e.is-left We work closely with you throughout the transformation process, developing creative, workable strategies and implementing them to achieve exactly what your company needs. Our work is only complete when your company and staff understand and use their new processes expertly.
							.text-e.is-left We'd love to work with you.
					- className = 'is-large is-blue', text = 'Let\'s talk!'
					include partials/btn

				.hash-e f33cb11ebb4e14be67bf13e347804735
				.popup-b.is-right
					- path = 'close-icon', idAttribute = '', title = 'close', iconClass = 'is-grey5 is-hoverable'
					include partials/icon
					.header-be 		Digital Solutions
					.sub-header-be It’s impossible to explain the magic of a great website.
					.content-bl.cf
							.text-e.is-left Digital technology should improve business results. At Evora, we help our customers ensure that it does.
							.text-e.is-left Whether you’re thinking about investing in digital technology for your new business or the time has come for a change to your current setup, we research your company, staff and customers and tailor our proposed solution around them. We provide much more than just your website, though – we help your company define itself and communicate its value to the online audience.
							.text-e.is-left Your online presence is an integral part of your business, so we’re committed to creating solutions that look beautiful, function seamlessly, and are designed to fit your company perfectly.
							.text-e.is-left We'd love to work with you.
					- className = 'is-large is-red', text = 'Let\'s talk!'
					include partials/btn




				

				//- .hash-e e8f7ddd21782268ea812c14eaada3957
				//- input.input-e download

				//- .hash-e caa0608fbfea0f959bf1ce698d2327e6
				//- .input-with-icon-b
				//- 	input.input-e download
				//- 	- var className = 'is-search'
				//- 	include partials/icon.jade


