@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

*
	bbox()
	// -webkit-font-smoothing: antialiased !important;
	// -webkit-text-stroke: 0.2px
	// -webkit-text-stroke: 1px transparent


body, html
	min-rect 100%
	margin 0
	padding 0
	overflow-x hidden

@import 'css-assets/font/myriadpro.css'
@import 'css-assets/font/myriadpro-semibold.css'

@import 'css-assets/general.styl'
@import 'css-assets/elements.styl'
@import 'css-assets/blocks.styl'
@import 'css-assets/layouts.styl'
@import 'css-assets/effects.styl'
@import 'css-assets/icons.styl'

@import 'css-assets/pages/main-page.styl'
