// PALETTE
c-green = #25a567
c-green-hover 	= #149155

c-blue 	= #628bc6
c-blue-hover 	= #3969ae

c-red 	= #f15133
c-red-hover 	= #db3d1f

c-orange 	= #f58025
c-orange-hover 	= darken(c-orange, 7)

c-grey1 = #2b2828
c-grey2 = #413e3e
c-grey3 = #7f7b7b
c-grey4 = #989595
c-grey5 = #d6d6d6
c-grey5-hover = darken(c-grey5, 7)
c-grey6 = #dadada
c-grey7 = #f3f3f3