// KIT
@import '../assets/imports.styl'

.hash-e
	font-size 12px
	color c-grey2
	margin-bottom gs
	margin-top 2*gs
	width 8*gs
	padding gs 0 
	textel()

.icon-sample-kl
	float left
	margin 2*gs

.main-kl
	max-width 120*gs
	margin 0 auto
	padding 4*gs 0 8*gs 0


.section-kl
	+ .section-kl
		margin-top 8*gs

.header-ke
	font-size 2.5*gs
	padding gs 0
	background-color c-grey7
	padding-left 2*gs
	color c-grey3
	margin-top 16*gs
	margin-bottom 4*gs

.color-sample-ke
	rect 4*gs
	margin gs
	float left

