// MAIN PAGE 600
@import '../../assets/imports.styl'

.main-page-p
	.header-l
			top 1*gs - 2px
		.header-pe
			margin-top 1.5*gs - 2px
			padding 0 2*gs
			line-height 4.5*gs

			+ .header-pe
				margin-top 0
				font-weight 100


		.header-text-ph
			padding 0 3*gs
			margin-top 2*gs 