// MAIN PAGE 1024
@import '../../assets/imports.styl'

.main-page-p
	.header-l
		top 1*gs - 2px

	.header-pe
		font-size 4*gs
		+ .header-pe
			margin-top 2*gs + 2px
			font-weight 100

	.header-text-ph
		margin-top 2.5*gs + 2px

	.first-main-subsection-ph
		padding-top 6*gs
		padding-bottom 6*gs
		> .text-e
			padding 0 7*gs

	.services-l
		margin-top 11*gs + 2px
		margin-bottom 11.5*gs + 1px

	.second-main-subsection-ph
		padding-top 6*gs - 1px
		padding-bottom 5*gs + 1px

		.text-e
			padding 0 18*gs

		.last-text-ph
			padding 0 7*gs

	.about-us-l
		margin-top 10.5*gs
		padding-left 2.5*gs - 2px
		margin-bottom 3.5*gs


	.footer-l
		padding-top 7*gs - 1px
		padding-bottom 7*gs
		padding-left 4*gs
		padding-right 4*gs

		.social-icons-b
			margin-top 6.5*gs - 3px





































