// MAIN PAGE 320
@import '../../assets/imports.styl'

.main-page-p

	.first-main-subsection-ph
		padding-top 3.5*gs + 2px
		padding-bottom 3.5*gs - 1px
		> .text-e
			padding 0 gs
			line-height 3.5*gs
			&:last-of-type
				padding 0 2*gs
				line-height 4*gs

	.services-l
		margin-top 2*gs
		margin-bottom 3.5*gs 



	.second-main-subsection-ph
		padding-top 4*gs - 2px
		padding-bottom 4*gs
		.subheader-pe
			font-size 3*gs - 2px
			margin-bottom 3*gs - 2px
		.text-e
			padding 0 3*gs

		.last-text-ph
			padding 0 5*gs
			line-height 3.5*gs

	.about-us-l
		margin-top  - 2px
		margin-bottom gs + 2px

	.footer-l
		padding-top 4.5*gs - 1px
		padding-left 0
		padding-right 0

		.footer-contacts-l
			width 30*gs

		.social-icons-b
			margin-top 3.5*gs

		.small-text-e
			margin-top 5*gs 
			+ .small-text-e
				margin-top 2.5*gs - 1px

		.copy-ph
			top 0


























