// MAIN PAGE 640
@import '../../assets/imports.styl'

.main-page-p
	.header-l
		top 1*gs - 2px
	.header-pe
		font-size 3*gs + 2px
		+ .header-pe
			margin-top 1.5*gs - 2px
			font-weight 100

	.header-section-b
		padding-top 16*gs

	.header-text-ph
		padding 0 10*gs
		margin-top 3*gs - 1px

	.first-main-subsection-ph
		> .text-e
			padding 0 10*gs
			&:last-of-type
				padding 0 9*gs

	.services-l
		margin-top 4.5*gs
		margin-bottom 6*gs 

	.second-main-subsection-ph
		.text-e
			padding 0 11*gs

		.last-text-ph
			padding 0 8*gs

	.about-us-l
		margin-top gs
		margin-bottom 3*gs + 3px


























